@{
    ViewData["Title"] = "Fluxo de Caixa";
}

<h1>Gestão de Fluxo de Caixa</h1>
<a href="/CashFlow/AddTransaction">Adicionar</a>
<a href="/CashFlow/Report?date=@DateTime.Today.ToString("yyyy-MM-dd")">Ver Fluxo</a>
